body{
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    background-color: antiquewhite;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
#header{
    height: 65px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    box-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
header{
    unicode-bidi: isolate;
}
.container-home {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
*{
    box-sizing: border-box;
}
#header .headerMain{
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#header .headerMain .headerBars{
    display: flex;
    width: 20%;
}
#header .headerMain .headerBars a{
    margin-right: 20px;
}
a{
    color: #37a1a5;
}
a:hover{
    ccolor: #007bff;
    text-decoration: none;
    background-color: transparent;
}
#header .headerMain .headerLeft {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0;
}
#header .headerMain .headerLeft .headerLogo img {
    max-height: 50px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}
#header .headerMain .headerCenter {
    display: none;
    width: 50%;
}
#header .headerSearch {
    position: relative;
    width: 100%;
    margin: 0;
}
form {
    display: block;
    margin-top: 0;
    unicode-bidi: isolate;
}
#header .headerSearch .headerSearchMain {
    display: flex;
}
#header .headerSearch {
    position: relative;
    width: 100%;
    margin: 0;
}
input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
#header .headerSearch .headerSearchMain .headerSearchInput {
    width: 100%;
    padding: 0px 50px 0px 20px;
    height: 35px;
    line-height: 50px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}

